  <div class="card">
    <div class="card-body">
     <!-- <h4 class="card-title">Horizontal Two column</h4> -->
      <form class="form-sample">
        <h3 class="card-title">CCB</h3> 
        <div class="row"> 
          <div class="col-md-6">
            <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Resource</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option value="">Select your option</option>
                  <option>Sustenance</option>
                  <option>Enhancement</option>
                  <option>EMAS-Sustenance</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Work Item</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option value="">Select an Item</option>
                  <option>PID</option>
                  <option>SMB</option>
                  <option>MWR</option>
                </select>
              </div>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">App Count</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" />
                </div>
              </div>
            </div>
        <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Project Description</label>
              <div class="col-sm-9">
               <input type="text" class="form-control" placeholder="Enter in format: PID/MWR/SMB Number - Desc"/>
              </div>
            </div>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Application</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option value="">Select application</option>
                  <option>AAN-CRIS</option>
                  <option>ABMS</option>
                  <option>ACCT-INTERFACES BILLING</option>
                  <option>ACIS CBF</option>
                  <option>ACIS-ADST</option>
                  <option>ACIS-BI</option>
                  <option>ACIS-CI</option> 
                  <option>ACIS-TREATMENT & CASH UPDATE</option>
                  <option>ACIS-USAGE ARRANGEMENT</option>
                  <option>ACIS-BILLING UPDATE</option>
                  <option>ACIS-CDM1</option>
                  <option>ACIS-REVENUE</option> 
                  <option>AIM</option>
                  <option>AIRS</option>
                  <option>ALPHA</option>
                  <option>ADJUST</option>
                  <option>ADUF</option>
                  <option>AUTO LETTERS</option>
                  <option>BAD DEBT</option>
                  <option>BILL TRK</option>
                  <option>BIG-HQ</option>
                  <option>BILL-CALCULATE</option>
                  <option>BOCRIS</option>
                  <option>C/CA</option>
                  <option>CASH</option>
                  <option>CASH MF</option>
                  <option>CBR-MF</option>
                  <option>CCA ECF</option>
                  <option>CLUE</option>
                  <option>CMDS HQ</option>
                  <option>CRIS-RATE-DB</option>
                  <option>CRIS MP</option>
                  <option>CRIS-SO-UPDATE</option>
                  <option>CRIS POLICIES</option>
                  <option>CRIS CASH-POSTING</option>
                  <option>CRIS MISC. Input</option>
                  <option>CRIS STUDIES</option>
                  <option>CRIS-RATE-DB</option>
                  <option>CRIS DATA CONV</option>
                  <option>CRIS UP</option>
                  <option>CRIS USAGE STUDIES</option>
                  <option>CROSS RAO</option>
                  <option>DT</option>
                  <option>EDI-BILLING</option>
                  <option>EDOCS</option>
                  <option>ERP</option>
                  <option>ETM</option>
                  <option>FDB</option>
                  <option>FDB-POP</option>
                  <option>FDB-REVDIR</option>
                  <option>FLEX</option>
                  <option>GADB</option>
                  <option>GRP-JW</option>
                  <option>GRP-MW-BILLING</option>
                  <option>GRP-MW-ERP-Group</option>
                  <option>GRP-SE-BILLING</option>
                  <option>GRP-SE-BILLING-CARE</option>
                  <option>GRP-SE-BILLING-USAGE</option>
                  <option>IBIS-SE</option>
                  <option>ICO-STLMT</option>
                  <option>IDB-CBLD</option>
                  <option>IXC PBA</option>
                  <option>MAGTAPE</option>
                  <option>METASOLV</option>
                  <option>MFTS</option>
                  <option>MOBI</option>
                  <option>MODX</option>
                  <option>MOOSA-SE</option>
                  <option>OC&C-DBASE & POSTING</option>
                  <option>ODUF</option>
                  <option>OPNS</option>
                  <option>OSI</option>
                  <option>PR</option>
                  <option>PULL BILL</option>
                  <option>RA</option>
                  <option>RAP</option>
                  <option>RBS</option>
                  <option>RIGA</option>
                  <option>RMW WEB</option>
                  <option>SOLS</option>
                  <option>TAXING</option>
                  <option>TAX/TAR - MF</option>
                  <option>UPSE-SWBT/PB</option>
                  <option>VERBATIM</option>
                  <option>VK EARP</option>
                  <option>WP</option>
                  <option>None</option>
                </select>
              </div>
            </div>
          </div>
          <!--<div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Membership</label>
              <div class="col-sm-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked> Free </label>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> Professional </label>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Project Status</label>
            <div class="col-sm-9">
              <select class="form-control">
                <option value="">Choose status </option>
                <option>Completed</option>
                <option>On Track</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Areas</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option value="">Select area</option>
              <option>None</option>
              <option>MR</option>
              <option>MR</option>
              <option>Ops</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Primary Skills</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option value="">Choose Skills </option>
              <option>None</option>
              <option>.NET</option> 
              <option>.NET, Java</option>
              <option>.NET, VC++</option>
              <option>Assembler</option>
              <option>AS400</option>
              <option>C, C++</option>
              <option>C, Tuxedo</option>
              <option>C++/VC++</option>
              <option>Cobol</option>
              <option>Cobol, DB2</option>
              <option>Cobol, Focus DB2</option>
              <option>Cobol, DB2, CICS</option>
              <option>Cobol, IMS-DB</option>
              <option>Cobol, IMS-DB, Assembler</option>
              <option>Cobol, IMS-DC</option>
              <option>Cobol, Teradata</option>
              <option>Cobol, Assembler, IMS-DB, IMS-DC, DB2</option>
              <option>Cobol, Assembler, IMS-DB, IMS-DC, DB2, PL1</option>
              <option>ColdFusion</option>
              <option>DM</option>
              <option>Hadoop, Java</option>
              <option>Java</option>
              <option>Java, React</option>
              <option>Java, ShellScripting</option>
              <option>Java, Weblogic</option>
              <option>Java, Webspehere</option>
              <option>Ops</option>
              <option>PB</option>
              <option>PEARL</option>
              <option>PHP, ShellScripting</option>
              <option>PL1, Assembler</option>
              <option>PL1, IMS-DB, IMS-DC</option>
              <option>PowerBuilder, Sybase</option>
              <option>Proc C</option>
              <option>Proc C, ReactJS</option>
              <option>RD</option>
              <option>SmallTalk, Gemstone</option>
              <option>Tandem</option>   
              <option>Tandem, Powerbuilder</option>  
            </select>
          </div>
        </div>
      </div> 
    </div>    
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Application Group</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option value="">Select group</option>
              <option>None</option>
              <option>BOOM-BIGSYS</option>
              <option>BOSS-PAC</option>
              <option>BOSS-SW-ABOM</option>
              <option>BPM RD</option>
              <option>BRAVO-MF-Rick</option>
              <option>CARAT</option>
              <option>CARAT-MVS</option>
              <option>CARE-MF</option>
              <option>CBS-ATTCRM-SBS</option>
              <option>CODES-ULTS</option>
              <option>DM-RM</option>
              <option>EMAS APP SUPPORT</option>
              <option>EMAS CLOUD</option>
              <option>EMAS Compliance</option>
              <option>EMAS Ops</option>
              <option>EMAS SDC</option>
              <option>FREEDOM C Apps</option>
              <option>FREEDOM CPP Apps</option>
              <option>FREEDOM DotNET-CM</option>
              <option>FREEDOM DotNET-MQ</option>
              <option>FREEDOM Java Apps</option>
              <option>Gal-SAF</option>
              <option>HD-Jade</option>
              <option>Jewel-Jade</option>
              <option>JW</option>
              <option>LSRV</option>
              <option>MA-SOAP</option>
              <option>MDRG-RR</option>
              <option>LSRV</option>
              <option>MOSS</option>
              <option>MR-APPS-PT</option>
              <option>MR-ETM-EDOCS</option>
              <option>MW-USAGE</option>
              <option>MW-BILLING</option>
              <option>MW-ERP-GROUP</option>
              <option>MW-MF-Julie</option>
              <option>PUNE-MR-GRP2</option>
              <option>RNS</option>
              <option>SALES</option>
              <option>SE-BILLING</option>
              <option>SE-BILLING-CARE</option>
              <option>SE-BILLING-USAGE</option>
              <option>SW-CRIS</option>
              <option>SW-CRIS-BILLING</option>
              <option>SW-USAGE</option>
              <option>Tandem</option>
              <option>Usage-UPS</option>
              <option>WB-BPP1</option>
              <option>WB-SAMW</option>
              <option>West Usage</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Onshore Manager</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option value="">Select Manager</option>
              <option>Angie Farazier</option>
              <option>Greg Painter</option>
              <option>James Radtke</option>
              <option>James Koernig</option>
              <option>Om Bansal</option>
              <option>Ruben Rodriguez </option>
              <option>None</option>
            </select>
          </div>
        </div>
      </div> 
    </div>    
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Onshore Director</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option value="">Select Director</option>
              <option>Christine Moretti</option>
              <option>Jonie Greenwood</option>
              <option>Muawiah Qaimari</option>
              <option>None</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Offshore Lead</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option value="">Select Lead</option>
              <option>Ankita Mittal</option>
              <option>Ashish Bartwal</option>
              <option>Ashish Ranjan</option>
              <option>Darsha Naik</option>
              <option>Gourav Patidar</option>
              <option>Hrishikesh Kamthe</option>
              <option>Istiyaqahmed Shaikh</option>
              <option>Kushagra Mathur</option>
              <option>Lalit Bhagwat</option>
              <option>Narmada Nelluri</option>
              <option>Poonam Trimukhe</option>
              <option>Rajan Patil</option>
              <option>Rakesh Koli</option>
              <option>Rakesh Kumar Rout</option>
              <option>Ravinder Kumar</option>
              <option>Rudradeep Mandal</option>
              <option>Sahil Jain</option>
              <option>Sanjay Lokhande</option>
              <option>Shefali Hambire</option>
              <option>Suraj Shette</option>
              <option>Swapnil Patil</option>
              <option>Tushar Vispute</option>
              <option>Vipin Kumar</option>
              <option>None</option>
            </select>
          </div>
        </div>
      </div> 
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Offshore Manager</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option value="">Select Manager</option>
              <option>Amit Patidar</option>
              <option>Daljit Arora</option>
              <option>Dinesh Bansal(Gurgaon)</option>
              <option>Himanshu Mathur</option>
              <option>Prasad Kulkarni</option>
              <option>Ranjit Rai</option>
              <option>Tarun Raghuwanshi</option>
              <option>None</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Release</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option value="">Choose release version</option>
              <option>22.04</option>
              <option>22.07</option>
              <option>22.08</option>
              <option>22.09</option>
              <option>22.10</option>
              <option>22.11</option>
              <option>22.12</option>
              <option>23.01</option>
              <option>23.02</option>
              <option>23.03</option>
              <option>23.04</option>
              <option>23.05</option>
              <option>23.06</option>
              <option>23.07</option>
              <option>23.08</option>
              <option>23.09</option>
              <option>23.10</option>
              <option>23.11</option>
              <option>23.12</option>
              <option>24.01</option>
              <option>24.02</option>
              <option>24.03</option>
              <option>24.04</option>
              <option>24.05</option>
              <option>24.06</option>
              <option>24.07</option>
              <option>24.08</option>
              <option>24.09</option>
              <option>24.10</option>
              <option>24.11</option>
              <option>24.12</option>
              <option>OnHold</option>
              <option>Ongoing</option>
              <option>TBD</option>
              <option>None</option>
            </select>
          </div>
        </div>
      </div> 
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Commited</label>
          <div class="col-sm-9">
            <select class="form-control">
              <option value="">Select</option>
              <option>Yes</option>
              <option>No</option>
              <option>None</option>
            </select>
          </div>
        </div>
      </div>
      </div>
       <!-- <p class="card-description"> Address </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Address 1</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">State</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Address 2</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Postcode</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">City</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Country</label>
              <div class="col-sm-9">
                <select class="form-control">
                  <option>America</option>
                  <option>Italy</option>
                  <option>Russia</option>
                  <option>Britain</option>
                </select>
              </div>
            </div>
          </div>
        </div> 
        <button type="submit" class="btn btn-primary mr-2" title="Are you sure?">Submit</button>
                      <button class="btn btn-dark">Cancel</button> -->

        <div class="container">
            <button type="submit" class="button-42" role="button" title="Are you sure?">Submit</button>
            <button class="btn btn-dark">Cancel</button>
        </div>
      </form>
    </div>
  </div>
